body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

form {
	border: 2px solid black;
	padding: 20px;
	max-width: 500px;
	margin: auto;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="submit"], input[type="button"] {
	display: block;
	margin: 10px auto;
}

ul {
	list-style-type: none;
	padding: 0;
	max-width: 500px;
	margin: auto;
}

li {
	border: 2px solid green;
	padding: 10px;
	margin-bottom: 10px;
}
